.App {
  /* text-align: center; */
  margin: 30px;
}

.form-wrap {
  display: flex;
  justify-content: center;
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

input {
  padding: 10px;
  outline: none;
  border-radius: 30px;
  border: 2px solid powderblue;
  font-size: .9rem;
}

.add {
  width: 20%;
  font-size: 0.8rem;
  background: powderblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  padding: 8px;
}

.smurfs-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  height: 100%;
  width: 100%;
}
.smurf-wrap {
   border: 2px solid blue;
   background: powderblue;
   padding: 15px;
   border-radius: 8px;
   margin: 15px;
}